@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

img:nth-child(2) {
  display: none;
}

img:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:nth-child(2) {
    width: 50%;
    display: block;
    float: left;
  }

  img:nth-child(3) {
    float: left;
    width: 50%;
  }

  img:nth-child(4) {
    float: left;
    width: 50%;
  }

  img:nth-child(5) {
    width: 50%;
    display: block;
    float: left;
  }
}

@media only screen and (min-width: 38em) {

  img:nth-child(5) {
    display: none;
  }

  img:nth-child(4) {
    float: left;
    display: block;
    width: 33.3333%;
  }

  img:nth-child(3) {
    width: 33.3333%;
  }

  img:nth-child(2) {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 60em) {

  img {
    width: 66.6666%;
    float: left;
  }

  img:nth-child(2) {
    width: 33.3333%;
    float: left;
  }

  img:nth-child(5) {
    display: block;
    width: 33.3333%;
    float: left;
  }

  img:nth-child(4) {
    float: left;
    width: 33.3333%;
  }
}
