@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

img:nth-child(2) {
  display: none;
}

img:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img {
    display: block;
  }

  img:nth-child(2) {
    max-width: 50%;
    display: block;
  }

  img:nth-child(5) {
    max-width: 50%;
    display: block;
  }

  img:nth-child(3) {
    float: left;

  }
}
